body {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 0;
    margin: 0;

    background-color: #f8f6f2;

    font-family: Roboto, Arial, serif;

}

#wrapper {
    display: flex;

    justify-content: center;

    width: 100%;


}

/* Tell every child of wrapper to use display: flex; */
#wrapper * {
    display: flex;
}

#exerciseViewContainer {

    flex-direction: column;

    margin: 1% 5% 1% 5%;

    font-size: 14px;

    height: 600px;

    /* Use this parameter to adjust content width */
    width: 60%;

    align-items: center;

    justify-content: space-evenly;


}

#exerciseInformationContainer {
    flex-direction: row;

    justify-content: space-evenly;

    width: 100%;
    height: 100%;

}

#exerciseImageContainer {

    width: 50%;
    height: 100%;

    background-color: white;

    justify-content: center;

    overflow: hidden;

    margin-right: 1%;
}

#exerciseImage {
    height: 300px;

}

#exerciseInformation {

    width: 50%;
    height: 100%;

    background-color: white;

    flex-direction: column;

    justify-content: space-evenly;

    margin-left: 1%;

}

#exerciseDescriptionContainer {
    margin-top: 2%;


    background-color: white;

    height: 100%;
    width: 100%;

    overflow-x: auto;

}

#exerciseInformation * {
    padding: 0 8% 0 8%;
}

#exerciseDescription {

    font-size: 15px;

    text-align: left;

    padding: 2% 10% 2% 10%;

    flex-direction: column;
}

#exerciseTitleAndAuthor * {
    margin-right: 12%;
}

#verifiedIcon {
    height: 20px;
    width: 20px;
}

#exerciseLikes {

    justify-content: space-evenly;

    width: 60%;

    align-items: center;

    background-color: aquamarine;
}

