.col-8 {
    background-color: white;
    margin-bottom: 1%;
    margin-top: 1%;
    font-weight: bold;
}

.container input {
    background-color: #f8f6f2;
}

.container select {
    background-color: #f8f6f2;
}

.container textarea {
    background-color: #f8f6f2;
}

.btn-success {
    margin-bottom: 2%;
}

.mt-2 {
    text-align: center;
}
