body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

#wrapper {
    display: flex;

    width: auto;

    height: 100%;

}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    overflow-x: auto;
    height: 100%;
    width: 100%;

    background-color: #f8f6f2;


}

.entity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 33.33333%;

    height: 60%;

    margin: 2.5% 0 0 0;

}


/*
    Remove background styling to only the image is visible for elements in
    feed view
 */
.entity button {
    background-color: transparent;
    border: none;
}

/* Create fade out transition for elements in feed view */
.entity button:hover {
    opacity: 0.4;
    transition: 0.3s;

}

.exerciseTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2%;

    padding: 1% 1% 1% 1%;

    border: 1px solid grey;

    width: 40%;

}
