#feed_wrapper {
    display: flex;

    width: 100%;

    flex-grow: 1;

}

.feed_content {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;


    height: 100%;
    width: 100%;

    background-color: #f8f6f2;


}

.feed_entity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 33.33333%;

    height: 60%;

    margin: 2.5% 0 0 0;

}


/*
    Remove background styling to only the image is visible for elements in
    feed view
 */
.feed_entity button {
    background-color: transparent;
    border: none;
}

/* Create fade out transition for elements in feed view */
.feed_entity button:hover {
    opacity: 0.4;
    transition: 0.3s;

}

.exerciseTitle {
    display: flex;

    margin-top: 1%;

    padding: 1% 1% 1% 1%;
    border: 1px solid grey;
    width: 45%;

    flex-direction: column;

    align-items: center;

    justify-content: space-evenly;
}

#addExercise {
    height: 100%;
    width: 100%;
}

#addExerciseContainer {
    display: flex;

    width: 2%;
    float: right;
    margin-right: 1.5em;
    cursor: pointer;
    margin-bottom: 1.5em;
    position: -webkit-sticky;
    position: sticky;
    bottom: 1.5em;
}


/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    margin-right: 5px;
    bottom: 180%;
    left: 50%;
    margin-left: -130px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext {
    visibility: visible;
}

#feedImage {
    height: 250px;
    width: 250px;
}