body {
    height: 100%;

    font-family: Play, serif;
}

#container {
    display: flex;

    width: 100%;

    flex-direction: row;

    justify-content: space-evenly;

    background-color: #63837F;

    align-items: center;

    padding: 1.5% 0 1.5% 0;

}

#logoContainer, #profileContainer, #logoBtn {
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-evenly;

}

form {
    display: flex;

    justify-content: center;

    width: 30%;
    height: 2.1em;

    background-color: red;


}

input[type="search"] {

    width: 100%;

    padding-left: 3%;

    font-size: 15px;
}

#profileContainer {
    width: 12%;

    font-size: 25px;
}

#logoContainer {
    width: auto;

    text-decoration: none;

    font-size: 25px;

    color: black;
}

footer {
    display: flex;

    justify-content: center;

    background-color: #63837F;

    height: 15%;

}

.footerWrapper {
    display: flex;

    align-items: center;

    justify-content: space-evenly;

    flex-direction: row;

    width: 20%;

    font-size: 20px;

}
