/* General design */
body {
    font-family: Play;
}

html, body {
    height: 100%;
}

#content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

/* General design  done
Design for header*/

#header{
   height: 200px;
}

#container {
    display: flex;
    background-color: #63837F;
    height: 45%;
    justify-content: space-between;
    align-items: center;
    width: 100%

}


#logoContainer {
    margin-left: 3%;
}


#logo {
    vertical-align: middle;

}

#logoBtn{
    text-decoration: none;
}
#exerciseIt {
    vertical-align: middle;
    display: inline;
    font-weight: bold;
    font-size: 25px;
    color: black;
    text-decoration: none;
}
#search{
    height: 100%;
    display: flex;
    align-items: center;
}

#searchbtn {
    height: 121%;
    width: 10%;
}

#searchfield {
    padding-left: 2%;
    height: 100%;
    width: 70%;

}

#searchform{
    height: 35%;
    width: 40%;
    flex-direction: column;
    align-self: center;
}

#profileContainer {
    margin-right: 3%;
    visibility: hidden;

}

#myProfile {
    display: inline;
    vertical-align: middle;
}

.material-icons {
    vertical-align: middle;
}

#profileContainer:hover .material-icons {
    color: white;
}

#profileContainer:hover p {
    text-decoration: underline;

}

#undermenu {
    display: flex;
    background-color: #C6E684;
    height: 13%;
    justify-content: left;
    align-items: center;
}

.dropdown {
    padding-left: 3%;
    position: relative;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #DAF7A6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .fa-caret-down {
    color: white;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    text-decoration: underline;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Design for header is done
    footer */

footer {
    background-color: #C4C4C4;
    height: 150px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

#logoFooter {
    position: relative;
    display: inline;
    top: 18px;

}


#exerciseItFooter {
    margin-top: 50px;
    display: inline;
    font-weight: bold;
    font-size: 30px;

}

#logoContainerFooter {

}