<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'feed/header_footer_style_new.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'feed/exercise_view.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'feed/feed_style.css' %}">


    <title>Search</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Play"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet">

</head>
<body>

<div id="header">


    <div id="container">

        <a id="logoContainer" href="{% url 'feedHome' %}">

            <p>ExerciseIt!</p>

            {% load static %}
            <img id="logo" src="{% static 'feed/images/logo.png' %}"
                 alt="My image"
                 style="margin-left: 5%; width: 60px; height: 60px;">
        </a>

        <!---
            <form action="{% url 'search' %}">

                <div id="search">

                    <input placeholder="Søk i hele arkivet" type="text"
                           id="searchfield" name="search_field"/>

                    <button id="searchbtn" type="submit">
                        <i class="fa fa-search"></i>
                    </button>

                </div>
            </form>
            --->


        <form action="{% url 'search' %}">
            <input placeholder="Søk i etter øvelser eller muskelgrupper"
                   type="search" name="search_field"/>

            <button style="margin-left: 2%" type="submit">Søk</button>

        </form>


        <div class="item" id="profileContainer">
            <i class="material-icons">person</i>
            <p id="myProfile">Min profil</p>
        </div>

    </div>

    <div id="seperator">
        <!--
        <div class="dropdown">
            <div class="dropbtn">
                Muskelgrupper <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
                <a href="#">Rygg</a>
                <a href="#">Mage</a>
                <a href="#">Bein</a>
                <a href="#">Skuldre</a>
                <a href="#">Armer</a>
                <a href="#">Overkropp</a>
            </div>
        </div>
        -->

    </div>

</div>


{% block content %}

{% endblock content %}


<div id="footer">
    <div class="footerWrapper">

        <div class="footerWrapper">

            <p>ExerciseIt!</p>

            {% load static %}
            <img id="logoFooter" src="{% static 'feed/images/logo.png' %}"
                 alt="My image"
                 style="margin-left: 6%; width: 40px; height: 40px;">

        </div>
    </div>
</div>

</body>


</html>