<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'feed/header_footer_style.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'feed/exercise_view.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'feed/feed_style.css' %}">


    <title>Search</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Play"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
<div id="content">

    <div id="header">
        <div id="container">
            <div class="item" id="logoContainer" >
                <a class="item" id="logoBtn" href="{% url 'feedHome' %}">
                <p id="exerciseIt">Exercise It!</p>
                {% load static %}
                <img id="logo" src="{% static 'feed/images/logo.png' %}"
                     alt="My image" style="width: 60px; height: 60px;">
                </a>
            </div>

                <form id="searchform" action="{% url 'search' %}">
                     <div class="item" id="search">
                    <input placeholder="Søk i hele arkivet" type="text"
                           id="searchfield" name="search_field"/>
                    <button id="searchbtn" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                     </div>
                </form>

            <div class="item" id="profileContainer">
                <i class="material-icons">person</i>
                <p id="myProfile">Min profil</p>
            </div>

        </div>


        <div id="undermenu">
            <!--
            <div class="dropdown">
                <div class="dropbtn">
                    Muskelgrupper <i class="fa fa-caret-down"></i>
                </div>
                <div class="dropdown-content">
                    <a href="#">Rygg</a>
                    <a href="#">Mage</a>
                    <a href="#">Bein</a>
                    <a href="#">Skuldre</a>
                    <a href="#">Armer</a>
                    <a href="#">Overkropp</a>
                </div>
            </div>
            -->
        </div>

    </div>

    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <div id="logoContainerFooter">
            <p id="exerciseItFooter">Exercise It!</p>
            {% load static %}
            <img id="logoFooter" src="{% static 'feed/images/logo.png' %}"
                 alt="My image" style="width: 60px; height: 60px;">
        </div>
        <div id="footerText">
            <p>Version 1.0.1<br>
                Copyright 2020</p>
        </div>
    </footer>
</body>
</html>