<!DOCTYPE html>
{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Exercise</title>


</head>
<body>


{{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">Legg til øvelse</h1>
                <hr class="mt-0 mb-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        {{ form.exerciseTitle|as_crispy_field }}
                      </div>

                    </div>
                    {{ form.exerciseInfo|as_crispy_field }}
                    {{ form.exerciseHowTo|as_crispy_field }}
                    {% if user.is_authenticated %}
                        {{ form.isPublic|as_crispy_field }}
                    {% endif %}
                    {{ form.exerciseImage|as_crispy_field }}
                    {{ form.muscleGroup|as_crispy_field }}
                    <button type="submit" class="btn btn-success">Lagre


                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
