{% extends "feed/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise view</title>

</head>
<body>


{% block content %}
    <div id="exerciseView_wrapper">
        <div id="exerciseView_Container">

            <div id="exerciseView_InformationContainer">

                <div id="exerciseView_ImageContainer">

                     {% load thumbnail %}
                    {% thumbnail exercise.exerciseImage 250x250 box=exercise.cropping crop detail as im %}
                    <img src="{{ im.url }}" >

                </div>

                <div id="exerciseView_Information">
                    <div>
                        <div style="font-size: 40px; padding: 0; margin: 0">
                            {{ exercise.exerciseTitle }}
                        </div>
                    </div>

                    {% load static %}
                    <div>
                        Publisert av:
                        {{ exercise.exerciseAuthor }}

                       <!-- {% if exercise.createdByPro == True %}
                            <div class="item-image">
                                <img src="{% static 'feed/images/verified.png' %}"
                                     style="width: 25px; height: 20px;">
                            </div>
                        {% endif %}
                        <div class="item-noImage" style="display:none;">
                        </div>-->
                    </div>


                    <div id="exerciseView_likes">
                        {{ exercise.exerciseLikes }}
                        {% load static %}
                        <img src="{% static "feed/images/heart.png" %}"
                             alt="Heart image" style="margin-left: 10%">
                    </div>

                    <div id="exerciseStarRating">
                        Rating: {{ exercise.exerciseRating|floatformat:"1" }}
                    </div>

                    <div>
                        Trener:

                        {% for muscleGroup in exercise.muscleGroup.all %}
                            {{ muscleGroup|lower }}
                        {% endfor %}
                    </div>

                    <div>
                        {{ exercise.exerciseInfo }}
                    </div>


                </div>
            </div>

            <div id="exerciseView_DescriptionContainer">

                <div id="exerciseView_description">
                    <h5>Utførelse</h5>

                    {{ exercise.exerciseHowTo }}

                </div>
            </div>

        </div>
    </div>
{% endblock content %}
</body>
</html>
