{% extends "feed/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise view</title>

</head>
<body>


{% block content %}
    <div id="exerciseView_wrapper">
        <div id="exerciseView_Container">

            <div id="exerciseView_InformationContainer">

                <div id="exerciseView_ImageContainer">
                    {% load static %}
                    <img id="exerciseView_Image"
                         src="{% static "feed/images/bench_press.jpg" %}"
                         alt="Exercise image">
                </div>

                <div id="exerciseView_Information">
                    <div>
                        <div style="font-size: 40px; padding: 0; margin: 0">
                            {{ exercise.exerciseTitle }}
                        </div>
                    </div>
                    <div style="display: flex; align-items: center">
                        {{ exercise.exerciseAuthor }}
                        {% comment %}
                        Publisert av:
                        {{ exercise.author }}
                        {% if exercise.verified %}
                            {% load static %}
                            <img id="verifiedIcon"
                                 src="{% static "feed/verified.png" %}"
                                 alt="Exercise image">
                        {% endif %}
                        {% endcomment %}
                    </div>
                    {% comment %}
                <div id="exerciseLikes">
                    54
                    {% load static %}
                    <img src="{% static "feed/heart.png" %}" alt="Heart image">
                </div>
                <div id="exerciseStarRating">
                    5 STARS
                </div>
                {% endcomment %}
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div id="exerciseView_DescriptionContainer">

                <div id="exerciseView_description">
                    <h5>Utførelse</h5>

                    {{ exercise.exerciseDescription }}

                <p>
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg

                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg
                    hei på deg hei på deg hei på deg hei på deg

                    slutt
                </p>


                </div>
            </div>

        </div>
    </div>
{% endblock content %}
</body>
</html>