<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
{% extends "feed/base.html" %}

{% block content %}

    <div id="wrapper">
        <div class="content">
            {% for exercise in exercises %}

                <div class="entity">
                    <button onclick="window.location= '{% url 'exerciseView' exercise.id %}';">
                        {% load static %}
                        <img id="entityImage" src="{% static "feed/images/weightlifting.jpg" %}"
                             alt="Exercise image">

                    </button>

                    <div class="exerciseTitle">
                        {{ exercise.exerciseTitle }}
                    </div>

                    <p style="color: cornflowerblue">Verifisert</p>

                </div>

            {% endfor %}
        </div>
    </div>

{% endblock content %}

</body>
</html>
