<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
{% extends "feed/base.html" %}

{% block content %}

    <form action="{% url 'search' %}">
        <label for="search">
            Search for muscle group or exercise
            <br>
            <input type="text" id="searchfield" name="search_field">
            <br>
            <input type="submit" value="content"/>
        </label>
    </form>


    <div class="content">

        {% for exercise in exercises %}

            <div class="entity">
                <button>
                    {% load static %}
                    <img src="{% static "feed/weightlifting.jpg" %}"
                         alt="Exercise image">
                </button>

                <div class="exerciseTitle">
                    {{ exercise.exerciseTitle }}
                </div>
            </div>

        {% endfor %}


        {% for muscle_group in muscle_groups %}

            <div class="entity">
                <button>
                    {% load static %}
                    <img src="{% static "feed/weightlifting.jpg" %}"
                         alt="Exercise image">
                </button>

                <div class="exerciseTitle">
                    {{ muscle_group.muscleGroupTitle }}
                </div>
            </div>


        {% endfor %}

    </div>

{% endblock content %}
</body>
</html>