{% extends "feed/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>


</head>
<body>

{% load static %}

{% block content %}

    <div id="feed_wrapper">
        <div class="feed_content">

            {% for exercise in exercises %}
                <div class="feed_entity">
                    <button onclick="window.location= '{% url 'exerciseView' exercise.id %}';">
                        {% load thumbnail %}
                        {% thumbnail exercise.exercise_image 250x250 box=exercise.cropping crop detail as im %}
                        <img src="{{ im.url }}">

                    </button>

                    <div class="exerciseTitle">
                        <div>

                            {{ exercise.exercise_title }}

                            {% if exercise.created_by.user.profile.is_pro %}

                                <img src="{% static 'feed/images/verified.png' %}"
                                     style="width:20px;height:20px;">

                            {% endif %}
                            <div class="item-noImage" style="display:none;">
                            </div>

                        </div>

                        <div>


                            <img src="{% static "feed/images/heart.png" %}"
                                 alt="Heart image" style="width: 20px;
                                 height: 20px;">


                            {{ exercise.get_number_of_favorisations }}

                        </div>
                        <div>
                            Rating score: {{ exercise.get_rating_score }}
                        </div>
                    </div>


                </div>
            {% endfor %}

        </div>


    </div>
    <div class="tooltip1" id="addExerciseContainer">
        <p class="tooltiptext">Lag øvelse!</p>
        {% load static %}
        <a id="addExerciseBtn" href="{% url 'addExercise' %}">
            <img id="addExercise"
                 src="{% static 'feed/images/addExercise.png' %}"
                 alt="Exercise"/>
        </a>

    </div>


{% endblock content %}


</body>
</html>
