<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
{% extends "feed/base.html" %}
{% block content %}
    <ul>
        {% for exercise in exercises %}
            <li>
                {{ exercise.exerciseTitle }}
            </li>
        {% endfor %}
    </ul>
    <br/>
    <ul>
        {% for muscle_group in muscle_groups %}
            <li>
                {{ muscle_group.muscleGroupTitle }}
            </li>
        {% endfor %}
    </ul>

{% endblock content %}
</body>
</html>